{{ define "main" }}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMC4xxR/w9JpOXhbhz5Wj4w2P2lT3eYJQhW8H" crossorigin="anonymous">
    {{- partial "head.html" . }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMqz8l6h9P6Y9Fw3z/BL7gY3ZZb54gCzRHCTD5" crossorigin="anonymous">
</head>
<div class="welcome-message">
    <h1>👋Welcome to Lin Lin's Blog!</h1>
    <br>
    <p>Hi, this is Lin Lin. I’m documenting my learning notes in this blog. As I navigate my job search, I want to share my insights and experiences in Python, Machine Learning and hoping to help others on a similar path.</p>
</div>

<!-- Social Media Links Section -->
<div class="social-icons">
    <a href="https://www.linkedin.com/in/lin-hlaing/" target="_blank" class="social-icon">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/linlinhlaing" target="_blank" class="social-icon">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://medium.com/@linhlaing" target="_blank" class="social-icon">
        <i class="fab fa-medium-m"></i>
    </a>
    <a href="mailto:linhlaing@outlook.com" target="_blank" class="social-icon">
        <i class="fas fa-envelope"></i>
    </a>

</div>



<br>

<h3>Latest Posts</h3>
<br>
<ul>
    {{ range first 5 .Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <p>{{ .Summary }}</p>
        </li>
    {{ end }}
</ul>
{{ end }}
